{% extends 'base_email.html' %}

{% block in_mail_title %}
JoyFuel Analysis is Underway!
{% endblock %}

{% block main_body %}
<p class="section" style="margin: 20px 0; text-align: justify;">
    We're thrilled to let you know that we've successfully received your tweet data, and our state-of-the-art AI is now meticulously processing it.
    Your patience means the world to us as we tailor a comprehensive JoyFuel report just for you.
</p>
<p class="section" style="margin: 20px 0; text-align: justify;">
    In just about an hour, you'll gain insightful revelations into your <strong><em>"social media diet"</em></strong>, unveiling the psychological needs you've been satisfying through your interactions.
    This personalized report is designed not just to enlighten but also to empower you with knowledge on optimizing your social media usage.
</p>
<p style="margin: 20px 0; text-align: justify;">
    <strong>
        <em style="text-transform: uppercase; font-size: 13px; color: #EC6130;">
            Please, make sure to check your inbox and spam folder for the second email, which will contain your detailed report. We wouldn't want you to miss out on these valuable insights!
        </em>
    </strong>
</p>

<p class="section" style="margin: 20px 0; text-align: justify;">
    Hang tight — your journey towards a more conscious and fulfilling digital life is about to get a whole lot more interesting!
</p>
{% endblock %}