{% extends 'base_email.html' %}

{% block in_mail_title %}
Dive into Your Personalized JoyFuel Report!
{% endblock %}

{% block main_body %}
<p class="section" style="margin: 20px 0; text-align: justify;">
    The moment you've been waiting for is here! Your personalized JoyFuel report, crafted with care by Laroye AI's innovative technology, is now ready for your eyes.
</p>
<p class="section" style="margin: 5px 0; text-align: justify; font-weight: bold;">
    Whats inside your Report?
</p>
<div>
    <ul style="padding: 0 10px; margin: 0; color: #EC6130;">
        <li style="margin-bottom: 15px;">
            <h5 style="margin: 0;">
                Understanding Your Social Media Diet
            </h5>
            <p style="margin: 0; color: black;">
                A look at the psychological needs you've been meeting through your tweets.
            </p>
        </li>
        <li style="margin-bottom: 15px;">
            <h5 style="margin: 0;">
                Optimal Time of Usage
            </h5>
            <p style="margin: 0; color: black;">
                Our AI's recommendations on the best times for you to engage with social media daily for maximum benefit.
            </p>
        </li>
        <li style="margin-bottom: 15px;">
            <h5 style="margin: 0;">
                Insights and Recommendations
            </h5>
            <p style="margin: 0; color: black;">
                Tailored advice to enhance your social media experience based on our findings.
            </p>
        </li>
    </ul>
</div>
<p class="section" style="margin-top: 5px; margin: 20px 0; text-align: justify;">
    Your report offers a deep dive into your "social media diet," highlighting the psychological needs you've been fulfilling with each tweet.
    But that's not all – it also uncovers the optimal times for your daily social media usage, ensuring you make the most out of every online minute,
    based on our nuanced AI analysis.
</p>
<p class="section" style="margin: 20px 0; text-align: justify;">
    We're excited for you to explore these insights and begin a journey of self-discovery and digital well-being.
    Remember, understanding is the first step towards transformation, and with JoyFuel, you’re well on your way.
</p>
<p class="section" style="margin: 20px 0; text-align: justify;">
    Thank you for embarking on this insightful journey with us. Should you have any questions or need further assistance, our team is always here to help.
</p>

<p class="section" style="margin: 20px 0; text-align: justify;">
    Here's to a healthier, more joyful social media experience!
</p>
{% endblock %}